:root{
  --purple:#8e44ad;
  --red:#c0392b;
  --orange:#f39c12;
  --black:#333;
  --white:#fff;
  --light-color:#666;
  --light-white:#ccc;
  --light-bg:#f5f5f5;
  --border:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


*{
  font-family: 'Rubik', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition:all .2s linear;
}

*::selection{
  background-color: var(--purple);
  color:var(--white);
}

*::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

/* *::-webkit-scrollbar-thumb{
  background-color: var(--purple);
} */

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background-color: var(--light-bg);
}

section{
  padding:3rem 2rem;
}

.heading{
  text-transform: uppercase;
  /* text-underline-offset: 10px; */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color:black;
  font-size: 2.5rem;
  
}

.empty{
  padding:1.5rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  color:var(--red);
  font-size: 2rem;
}

.message{
  position: sticky;
  top:0;
  margin:0 auto;
  max-width: 1200px;
  background-color: var(--light-bg);
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap:1.5rem;
}


.message span{
  font-size: 2rem;
  color:black;
}

.message i{
  cursor: pointer;
  color:var(--red);
  font-size: 2.5rem;
}

.message i:hover{
  transform: rotate(100deg);
}

.sub,
.option-sub,
.delete-sub,
.white-sub{
  display: inline-block;
  margin-top: 1rem;
  padding:1rem 3rem;
  cursor: pointer;
  color:black;
  font-size: 2rem;
  border-radius: .5rem;
  text-transform: capitalize;
}

.sub:hover,
.option-sub:hover,
.delete-sub:hover{
  background-color: black;
}

.white-sub,
.sub{
  background-color: var(--purple);
}

.option-sub{
  background-color: rgb(245, 178, 236);
}

.delete-sub{
  background-color: rgb(202, 243, 219);
}

.white-sub:hover{
  background-color: var(--white);
  color:var(--black);
}

@keyframes fadeIn {
  0%{
     transform: translateY(1rem);
     opacity: .2s;
  }
}

.header{
  position: sticky;
  top:0; 
  left: 0;
   right:0;
  z-index: 1500;
  background-color: rgb(241, 239, 241);
  box-shadow: 1rem  1rem 1rem rgba(0,0,0,.1);
}

.header .flex{
  display: flex;
  align-items: center;
  padding:2rem;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  margin:0 auto;
}

.header .flex .logo{
  font-size: 3rem;
  color:var(--black);
}

.header .flex .logo span{
  color:var(--purple);
}

.header .flex .navbar a{
  /* text-underline-offset: auto; */
  margin-left:1rem;
  margin:0 1rem;
  font-size: 2.4rem;
  color:var(--black);
  
}

.header .flex .navbar a:hover{
  color:var(--purple);
}

.header .flex .icons div{
  margin-left: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color:var(--black);
}
.header .flex .icons .fasfa-bars{
  display: none;
}

.header .flex .icons div:hover{
  color:var(--purple);
}

.header .flex .account-box{
  position: absolute;
  top:120%; right:2rem;
  width: 30rem;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  padding:2rem;
  text-align: center;
  border-radius: .5rem;
  border:var(--border);
  background-color: beige;
  display: none;
  animation:fadeIn .2s linear;
}

.header .flex .account-box.active{
  display: inline-block;
}

.header .flex .account-box p{
  font-size: 2rem;
  color:var(--light-color);
  margin-bottom: 1.5rem;
}

.header .flex .account-box p span{
  color:var(--purple);
}

.header .flex .account-box .delete-btn{
  padding: 1rem;
  font-size: 2rem;
  color: black;
  background-color:rgb(199, 196, 196);
  border-radius:2rem ;
  border:beige ;
  margin-top: 2;
}

.header .flex .account-box div{
  margin-top: 1.5rem;
  font-size: 2rem;
  color:var(--light-color);
}

.header .flex .account-box div a{
  color:var(--orange);
}

.header .flex .account-box div a:hover{
  text-decoration: underline;
}

#menu-btn{
  display: none;
}

.dashboard .box-container{
display: grid;
/* grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)) ; */
grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
gap: 3rem;
padding: 5em;
max-width: 1500px;
margin:  auto;
align-items: flex-start;

}

.dashboard .box-container .box{
  border-radius:8rem ;
  padding: 4em;
  background-color: rgb(192, 181, 181);
  box-shadow: 2rem  2rem 2rem rgba(48, 47, 47, 0.1);
  border: rgba(61, 49, 60, 0.1);
  text-align: center;
}
.dashboard .box-container .box h2{
  color: black;
  font-size:3rem ;
}
.dashboard .box-container .box p{
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.77rem;
  color: black;
  background-color:rgb(199, 196, 196);
  border-radius:5rem ;
  border:beige ;

}
.add-product h1{
  text-transform: uppercase;
  /* text-underline-offset: 10px; */
  text-align: center;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  color:black;
  font-size: 3rem;

}
.add-product form{
  background-color: rgb(226, 223, 225);
  border-radius: 5rem;
  padding:3rem;
  text-align: center;
  border:.1rem solid rgb(206, 174, 206);
  box-shadow: 1rem  1rem 1rem rgba(48, 47, 47, 0.1);
  max-width: 60rem;
  margin:0 auto;
  
 
}

.add-product form h2{
  font-size: 2.4rem;
  text-transform: lowercase;
  color: black;
  margin-bottom: 1.3rem;
}
.add-product form .box{ 
  width: 100%;
  background-color: rgb(212, 211, 209);
  border-radius: 2rem;
  margin: 1rem auto;
  padding:2rem 1.4rem ;
  color: black;
  font-size: 3.5rem;
  border: .1rem solid rgb(206, 174, 206);
}

.show-products .box-container{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 30rem); */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)) ; */
  justify-content: center;
  gap: 1.5rem;
  padding: 4em;
  max-width: 1500px;
  margin: 0 auto;
  align-items: flex-start;
  
  }
  .show-products{
    padding-top: 0;
  }
  .show-products .box-container .box{
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    border: 0.5rem solid rgb(206, 174, 206);
    box-shadow: 1rem  1rem 1rem rgba(48, 47, 47, 0.1);
    background-color: rgb(253, 240, 253);

  }

  .show-products .box-container .box img{
    height: 25rem;

  }
  .show-products .box-container .box .name{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: black;
  }
  .show-products .box-container .box .price{
    font-size: 3rem;
    padding: 1rem 0;
    color: blue;
  }
  .edit-product-form{
    min-height: 100vh;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
    overflow-y: scroll;
    position: fixed;
    top:0; 
    left:0; 
    z-index: 1200;
    width: 100%;
 }
 
 .edit-product-form form{
    width: 50rem;
    padding:3rem;
    text-align: center;
    background-color: rgb(253, 240, 253);
    border-radius: 3rem;
 }
 
 .edit-product-form form img{
    height: 30rem;
    margin-bottom: 1rem;
 }
 
 .edit-product-form form .box{
    margin:1rem 0;
    padding:1.4rem 1.4rem;
    border-radius: 2rem;
    background-color: rgb(253, 240, 253);
    border: 0.5rem solid rgb(206, 174, 206);
    font-size: 2rem;
    width: 100%;
    color:black;
   
 }




 


  /* media queries */
  @media (max-width:991px){
    html{
        font-size: 55%;
    }
  }
  @media (max-width:768px){
    #menubtn{
        display: inline-block;
    }
    .header .flex .navbar{
        position: absolute;
        top: 99%;
        right: 0;
        left: 0;
        background-color: #faf5fa;
        border-top: #c5a6c3;
        border-bottom: #c5a6c3;

    }
  }

  /* .header .flex .navbar a{
    margin: 2rem;
    display: block;
  } */
  @media (max-width:450px){
    html{
        font-size: 50%;
    }
  }