*{
    box-sizing: border-box;
    width: 100%;
    font-size: 0.99em;
    font-family:'Rubik', sans-serif;
    font-weight: normal;
    text-decoration: none;
    outline: none; 
    border: none;
    margin: 0;
    padding: 0;
    transition: all .1s ease-out;

}
html, body{
    font-size:63%;
    position: static;
    background-color: rgb(225, 212, 236);
    /* min-height: 8rem;  */
    /* color: rgb(93, 46, 141); */
    /* margin: 0;
    padding-bottom: 5em; */
    overflow-x: hidden;

}

*::selection{
    background-color: rgb(197, 148, 243);
    color: #faf5fa;
}
*::-webkit-scrollbar{
    
    height: 0.5rem; 
    width: 1rem;
}

.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
  height: 2em;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}

/* *::-webkit-scrollbar-thumb {
    background: rgb(230, 213, 231);
  } */
  section{
    padding:3rem 2rem;
  }
  .message{
    /* background-color: #faf5fa; */
    display: flex;
    padding:2rem;
    position: sticky;
    align-items: center;
    margin: 0 auto;
    top: 0;
    max-width: 1200px;
    justify-content: space-between;
    gap: 1.3rem;
    z-index: 10000;

  }
  .message span{
    font-size: 1rem;
    color: #0f0f0f;
  }
  .message i{
    /* color: #cca4cc; */
    cursor: pointer;
    font-size: 2.5rem;
  }

  .message i:hover{
    transform: rotate(100deg);
  }

  
  .white-sub,.sub{
    background-color:rgb(207, 247, 207) ;
    text-transform: capitalize;

  }

.sub, .option-sub, .delete-sub, .white-sub{
    font-size: 1.5rem;
    margin-top: 2rem;
    display: block;
    color: #0f0f0f;
    padding: 0.3rem 0.3rem ;
    cursor: pointer;
    border-radius: 5rem;
    text-transform: capitalize;

}
.sub:hover, 
.option-sub:hover, 
.delete-sub:hover{
    background-color:rgb(144, 216, 144);
    

}
.option-sub{
    background-color: rgb(60, 83, 209);
}
.delete-sub{
    background-color: rgb(91, 213, 235);
}

@keyframes fadeIn {
    0%{
        transform: translateY(1rem);
        opacity: 0.2s;
    }
    
}
  .header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #c5a6c3;
    box-shadow: whitesmoke;
  }
  .header .flex{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 2.5rem;
    margin: 0 auto;
    max-width: 1500px;/*here was 1200px*/

  }

  .header .flex .logo{
    color: black;
    font-size: 2.5rem;
  }
  .header .flex .logo span{
    color:rgb(33, 4, 80);
  }
  .header .flex .navbar a{
    /* position: static; */
    /* font-size: 4em; */
    margin:0 1rem;
    font-size: 1.5rem;
    color: black;

  }
  .header .flex .navbar a:hover{
    position: static;
    color:#ecb4ec;
  }
  .header .flex .icons div{
    margin-left: 40rem;
    font-size: 2rem;
    cursor:pointer;
    color: #0f0f0f;

  }
  .header .flex .icons div:hover{
    color: #6e166e;
  }

  .header .flex .account-box{
    /* position: absolute;
    top:40px;
    right:2rem;
    width:30rem; */
    position: absolute;
    top: 50px;
    right: 20px;
    width: 30rem;
    background: rgb(245, 226, 245);
    box-shadow: #2c2c2c;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    border: #2c2c2c;
    display: none;
    animation: fadeIn .2s linear;
  }
  .header .flex .account-box p{
    font-size: 2rem;
    color:#0f0f0f;
    margin-bottom: 0.5rem;
  }
  .header .flex .account-box p span{
    color: #6e166e;
  }
  .header .flex .account-box .delete-btn{
    margin-top: 0;
  }
  /* #menubtn{
    display: none;
  } */
  .header .flex .account-box .active{
    display: inline-block;
  }


  /* media queries */
  @media (max-width:991px){
    html{
        font-size: 55%;
    }
  }
  @media (max-width:768px){
    #menubtn{
        display: inline-block;
    }
    .header .flex .navbar{
        position: absolute;
        top: 99%;
        right: 0;
        left: 0;
        background-color: #faf5fa;
        border-top: #c5a6c3;
        border-bottom: #c5a6c3;

    }
  }

  /* .header .flex .navbar a{
    margin: 2rem;
    display: block;
  } */
  @media (max-width:450px){
    html{
        font-size: 50%;
    }
  }