*{
    box-sizing: border-box;
    width: 100%;
    font-size: 0.99em;
    font-family: BlinkMacSystemFont,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    text-decoration: none;
    outline: none; 
    border: none;

}
html, body{

    position: static;
    background-color: #faf5fa;
    min-height: 7.4em;
    color: rebeccapurple;
    margin: 0;
    padding-bottom: 5em;

}

